@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* sidebar and general layout */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background: white;
    height:100%;
    width:100%;
}

.wrapper {
    margin: 10px;
}

.wrapper .top_navbar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 10px;
}

.wrapper .top_navbar .hamburger {
    width: 70px;
    height: 100%;
    background: #2e4ead;
    padding: 15px 17px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
    width: 35px;
    height: 4px;
    background: #92a6e2;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    height: 100%;
    background: #e1ecf2;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}


.wrapper .sidebar {
    position: fixed;
    top: 70px;
    left: 10px;
    background: #2e4ead;
    width: 220px;
    height: calc(100% - 80px);
    border-bottom-left-radius: 20px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.collapse:not(.show) {
    display: block;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #92a6e2;
    display: none;
}

.wrapper .sidebar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.wrapper .sidebar ul li a span.title {
    display: inline-block;
    transition: all 0.3s ease;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    background: #4360b5;
    color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper .main_container {
    width: (100% - 200px);
    margin-top: 70px;
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
}

.wrapper .main_container .item {
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
    width: 50%;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .sidebar ul li a {
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
    display: none;
    
}

.wrapper.collapse .main_container {
    width: (100% - 70px);
    margin-left: 70px;
}

/* upload body  */
.outerupload {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadbody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 98vh;
    border-radius: 5px;
    background: #4360b5;
}

.drag-area {
    border: 2px dashed #fff;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area .icon {
    font-size: 100px;
    color: #fff;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-area .button-br {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}


/* iframes */

.parent {
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    height: 650px;
    width: 1300px;
    /* padding-top: 56.25%; */
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 1px;
} 


.piframe {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: none;

}

.centerall{
    display: flex;
    align-items: center;
    justify-content: center;
}